* {
	box-sizing: border-box;
}
.wrap {
	max-width: 1000px;
	margin: auto;
}
#banner img {
	width: 100%;
}
#banner {
	position: relative;
}
#banner a {
	position: absolute;
  bottom: -45px;
  left: 235px;
}
.mnd {
	display: block;
	position: absolute;
	top: 60px;
	left: -70px;
}
.mnd1 {
	display: block;
	position: absolute;
	top: 90px;
	left: -70px;
}
.mnd2 {
	display: block;
	position: absolute;
	top: 120px;
	left: -70px;
}
.mnd3 {
	display: block;
	position: absolute;
	top: 150px;
	left: -70px;
}
#banner a:link {
	font-weight: bold;
	font-size: 25px;
	text-decoration: none;
	color: black;
}
#banner a:hover {
	color: green;
}
#banner a:active {
	color: red;
}
.content img {
	width: 33%;
	height: 220px;
}
.content1 {
	float: left;
	margin: auto;
}
.content2 {
	float: left;
	margin: auto;
}
.content3 {
	float: left;
	margin: auto;
}
.content4 {
	float: left;
	margin: auto;
}
.content img:hover {
	border-radius: 30%;
}
#menu {
	margin: 70px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	position: relative;
}
#menu a:link {
	text-decoration: none;
	color: blue;
}
#menu a:visited {

	color: black;
}
#menu a:hover {

	color: green;
}
#menu a:active {
	color: red;
}
#menu a#ava img {
		height: 200px;
		width: 200px;
		border-radius: 50%;
		position: absolute;
    top: -150px;
    left: -50px;
}
#btt {
	position: fixed;
	right: 50px;
	bottom: 50px;
}
#btt img {
	width: 50px;
	height: 50px;
}